@model IEnumerable<SwapStff.Models.UserChatsModel>
@{
    ViewBag.Title = "User Chats";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<!-- For Sorting & Paging -->
<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.tablesorter.pager.js")" type="text/javascript"></script>
<script src="~/Scripts/footer.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $("table.tablesorter").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
        .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });
    });
</script>

<h2 class="text-center">User Chats</h2>

<div class="MyTable">
    <table id="MyTable" class="tablesorter">
        <thead>
            <tr>
                <th>
                    Item Title (Sender)
                </th>
                <th>
                    Item Image (Sender)
                </th>
                <th>
                    ProfileId (Sender)
                </th>
                <th>
                    Item Title (Recipient)
                </th>
                <th>
                    Item Image (Recipient)
                </th>
                <th>
                    ProfileId (Recipient)
                </th>
                <th>
                    Chat Content
                </th>
                <th>
                   Date Time Created
                </th>
                <th>
                    Is Read
                </th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ItemTitleBy
                    </td>
                    <td>
                        <img src="@item.ItemImageBy" width="50" height="50" />
                    </td>
                    <td>
                        @item.ProfileIdBy
                    </td>
                    <td>
                        @item.ItemTitleTo
                    </td>
                    <td>
                        <img src="@item.ItemImageTo" width="50" height="50" />
                    </td>
                    <td>
                        @item.ProfileIdTo
                    </td>
                    <td>
                        @item.ChatContent
                    </td>
                    <td>
                        @item.DateTimeCreated
                    </td>
                    <td>
                        <label id="lblRead" title="@item.IsRead">@item.IsRead</label>
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { ChatId = item.ChatId })
                    </td>
                </tr>
            }
            </tbody>
    </table>
    <div id="pager" style="position: none;">
        <form>
            <img src="@Url.Content("~/assets/images/pagination/first.png")" class="first" />
            <img src="@Url.Content("~/assets/images/pagination/prev.png")" class="prev" />
            <input type="text" class="pagedisplay" />
            <img src="@Url.Content("~/assets/images/pagination/next.png")" class="next" />
            <img src="@Url.Content("~/assets/images/pagination/last.png")" class="last" />
            <select class="pagesize">
                <option value="5">5</option>
                <option selected="selected" value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
            </select>
        </form>
    </div>
</div>